/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  background-color: #1b1b32;
  color: #fff;
}

.todo-title {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #ff6347;
}

button {
  background-color: #ff6347;
  border: none;
}

button:hover {
  background-color: #e55342;
}

.form-control {
  background-color: #333;
  color: #fff;
  border: none;
}

.form-control:focus {
  background-color: #333;
  color: #fff;
}

.list-group-item {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

